span {
  font-weight: bold;
}
.confirmation-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.confirmation-header {
  color: #e642ca;
}

.confirmation-item {
  margin-bottom: 30px;
}
