<div class="detail-container">
    <div>
      <img src="{{ product.url }}"
      />
    </div>
    <div class="detail-item">
    <p>{{ product.name  }}</p>
   <p>${{ product.price }}</p>
    <p>{{ product.description }} </p>

    <input type="number" name="added" min="1" max="10" value="{{product.addedItem}}"
    [(ngModel)]="product.addedItem">
    
    <br />
    <button  (click)="addToCart()">Add to cart</button>
    <br>
    <a routerLink="" class="back-link">Back to product list</a>
</div>
  </div>
  