<div class="detail-container">
    <div>
      <img src="{{ product.url }}"
      />
    </div>
    <div class="detail-item">
    <p>{{ product.name  }}</p>
   <p>${{ product.price }}</p>
    <p>{{ product.description }} </p>

    <select class="select-input" name="count" (change)="changeCount($event)">
      <option *ngFor="let i of NumberOfItems" value="{{ NumberOfItems[i] }}">
        {{ NumberOfItems[i] }}
      </option>
    </select>
    <br />
    <button  (click)="addToCart()">Add to cart</button>
    <br>
    <a routerLink="" class="back-link">Back to product list</a>
</div>
  </div>
  